body{
    background-color: black;
}

.temperature{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 55vw;
    font-family: sans-serif, monospace;
    color: white;
}